@import "../../../main.css";

a {
  text-decoration: None;
}

.howtogo1 {
  width: 75px;
  height: 55px;
  object-fit: contain;
}

.info-content {
  margin: 2px;
}

.info {
  color: var(--perrywinkle);
}

.info-icon {
  font-size: 30px;
}

.info-text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
