@import url("../../main.css");

.container__result {
    width: 100%;
    height: 130px;
    background-color: #f9f8fc;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #c8c8c8;
    margin: 10px 5px;
    display: flex;
}

.container__dep-arr {
    display: flex;
}

.content__cost {
    padding: 55px 20px;
    text-align: center;
    font-size: 140%;
    color: #ff416a;
    font-weight: 600;
}

.content__dep {
    padding: 40px 10px;
}

.content__arr {
    padding: 40px 10px;
}

.content__time {
    font-size: 130%;
    color: #332563;
    font-weight: 800;
}

span {
    background-color: #5a5a5a;
    width: 150px;
    height: 3px;
}