.vscode
*.code-workspace

# MacOS metadata file
.DS_store

# modules 
node_modules

# yarn error log
yarn-error.log

# rendering script file
/public/scripts

# font render error log file
/asset/S-Core-Dream-light/debug.log

# environment key 
.env