.icons {
  text-shadow: 1px 1px 2px var(--black);
  margin-left: 20px;
  margin-right: 20px;
}

.icons-bigger {
  width: 100px;
  height: 100px;
}

.icons-smaller {
  width: 60px;
  height: 60px;
}

#guide {
  margin-top: 15px;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--light-black);
  font-size: 20px;
  font-weight: bold;
}
