html,body{ 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
}

div, input{
    font-family: Helvetica, sans-serif;
}

form {
    margin: auto;
    box-shadow: 9px 10px 27px -12px #888888;
}

:root {
    --perrywinkle: #9d8ae0;
    --pale-salmon: #feb6ae;
    --light-peach: #febead;
    --white: #ffffff;
    --black: #000000;
    --gray: #bbbbbb;
    --light-gray: #efefef;
  }