@import url("../../../main.css");

span {
  height: 1px;
  background-color: #8a8a8a;
  border: none;
  margin: auto 4px;
}

.container__result {
  width: 580px;
  height: 110px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #c8c8c8;
  display: flex;
  margin: 5px;
}

.container__dep-arr {
  display: flex;
  margin: 25px;
}

.content__cost {
  padding-top: 42px;
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  color: #332563;
  font-weight: 600;
}

.content__dep-time {
  display: flex;
}

.content__time {
  font-size: 130%;
  color: #332563;
  font-weight: 800;
}

.content__elapse-time{
  font-size: 100%;
  color: var(--light-black);
  text-align: center;
  margin: 5px;
}

.ratio-1 {
  flex: 1;
}

.ratio-2 {
  flex: 2;
}

.ratio-3 {
  flex: 3;
}