@import '../../../main.css';

.result-box {
  width: 700px;
  margin-right: 30px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  height: 500px;
}

.item {
  margin: 20px 5px;
}

.sort-container {
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 680px;
}

.sort-text {
  padding-right: 75px;
  font-weight: 600;
  font-size: 14px;
  color: var(--dark-purple);
  background-color: transparent;
}

hr {
  width: 600px;
  border: solid 1.5px var(--gray);
}
