.type {
  overflow: hidden;
  padding: 0;
  width: 75%;
  list-style: none;
}

.type li {
  float: left;
}

.tab {
  display: block;
  height: 50px;
}

.tab_type_on {
  padding: 6px 0;
  text-align: center;
  color: #ffffff;
  background: #9d8ae0;
  text-decoration-line: none;
}

.type-content {
  padding-top: 10px;
}

.link {
  text-decoration-line: none;
  font-size: 23px;
  color: #332563;
  font-weight: 800;
  padding-left: 5px;
}
