@import url("../../../main.css");

#label {
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

.react-calendar__invisible {
  display: none;
}

.react-calendar__visible {
  position: absolute;
  top: 60px;
  left: 45%;
  border-radius: 4px;
  border: 1px solid #eee;
  z-index: 2;

  box-shadow: 9px 10px 27px -12px #888888;
}

.react-calendar__tile--active {
  background-color: var(--perrywinkle);
  margin-top: 3px;
}

.container__searchbar {
  max-width: 1132px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 15px;
  padding-right: 15px;
}

.container__passenger {
  height: 50px;
  display: flex;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  transition: border 0.2s ease;
}

.container__passenger:hover {
  border: 1px solid var(--light-purple);
}
.container__passenger:hover i {
  color: var(--light-purple);
}

.content__searchbar {
  position: relative;
  margin: 10px 10px;
}

.content__passenger {
  margin-left: 5px;
  margin-right: 5px;
}

.searchbar-button {
  font-family: "Montserrat";
  height: 50px;

  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: var(--perrywinkle);
}

.searchbar-main {
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  box-shadow: 9px 10px 27px -12px var(--dark-gray);
}

.searchbar-result {
  background-color: var(--pale-purple);
  z-index: 1;
  margin-top: 3px;
}

.searchbar-button:focus {
  outline: none;
}
.searchbar-button__passenger {
  font-size: 20px;
  color: var(--light-gray);
  transition: color 0.2s ease;
}

.searchbar-input {
  height: 20px;
  width: 160px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;

  transition: border 0.2s ease;
}

.searchbar-input:hover {
  border: 1px solid var(--light-purple);
}

.searchbar-input__passenger {
  width: 35px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
}

.searchbar-input__passenger:focus {
  outline: none;
}
